* {
    /* outline: 1px solid red; */
}
body, html {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
    overflow-x: hidden;
}


.topnav {
    
    /* background-color: #333; */
}
.topnav a{
    float: left;
    color: #8b6f4e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

#otherNav {
    float: right;
    color: #8b6f4e;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* .topnav a:hover {
    background-color: #ddd;
    color: black;
} */

ol {
    list-style-type: none;
}
ol li{
    float: inline-start;
    
}
ol li a{
    color: #8b6f4e;
    text-decoration: none;
}
ol li a .btn{
    padding: 0;
    border: none;
    background: none;
    font-family: "Open Sans",Helvetica,Arial,sans-serif;
}

.innerContent{
    position: relative;
    top: 50px;
    left: 50px;
    width: 500px;
    color: #8b6f4e;

}
.innerContent h2{
    text-align: left;

}

.innerContent p{
    text-align: left;
    --animate-delay: 0.1s;
}
.items{
    margin: 200px;
    width: auto;
    height:auto;
    padding: 60px;
    background-color:#fff;
    justify-content: center;
    display: flex;
}
.itemCard{
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius:10px;
    display:flex;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    
}

.itemCard:hover{
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.itemCard:active{
    background: #e5e5e5;
    box-shadow: inset 0px 0px 5px #c1c1c1;
    outline: none;
}

.itemCard img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
.container{
    padding: 2px 16px;
    text-align: center;
}

.container h4{
    text-align: center;
    color: #8b6f4e;
}

.container p{
    text-align: center;
    color: #8b6f4e;
}

.container a{
    text-decoration: none;
    color: black;
        
}
.modal-footer button a{
    color: black;
    text-decoration: none;
}
footer{
    width: 100%;
    bottom: 0;
    position: absolute;
    background-color: #8b6f4e;
}

footer ol li a {
    color: white;
}
.show-cart li {
    display: flex;
  }
